<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Unidade de Entregas</title>

		<style>
			@font-face {
				font-family: "Roboto";
				src: local("Roboto"), local("Roboto-Regular");
			}

			@font-face {
				font-family: "Roboto Bold";
				src: local("Roboto-Bold");
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin: auto;
				border: none;
			}

			th,
			td {
				border: none;
				text-align: left;
				padding: 0;
				margin: 0;
				vertical-align: top;
				text-align: justify;
			}

            ul {
                list-style-type: circle;
            }

            .table-1 li {
                margin-left: -1.5em;
            }

			.table-2 ul {
				margin-right: 30px;
				line-height: 1.3em;
			}

			.table-2 ul > li {
				font-size: 0.9em;
				margin-top: 15px;
			}

			/* Add dark blue background */

			.table-1 td.header {
				color: #09295e;
				font-weight: bold;
			}

			.table-1 td {
				border-bottom: 0.5px solid #09295e;
				padding: 0.3em;
                padding-right: 1.5em;
			}

			.dark-blue {
				background-color: #09295e;
				color: #fff;
				font-weight: bold;
				padding: 0.3em;
			}

			.light-green {
				background-color: #DAFDF5;
				color: #000;
				font-weight: bold;
			}

			.zero-margin h2 {
				margin: 0;
			}

			.text-center {
				text-align: center;
			}

			.half-padding {
				padding: 0.5em;

			}

			.zero-margin h2 {
				margin: 0;
			}

			.page-padding {
				padding: 20px 5%;
			}

			html,
			body {
				background-color: #F9F9F9;
				font-family: "Roboto", sans-serif;

			}

			h1,
			h2,
			h3 {
				font-family: "Roboto Bold", sans-serif;
			}

			/* Apply A4 page size and remove margin */
			@page {
				size: A4;
				margin: 0;
			}

			/* Set the body element to 100% width and height, with no margin or padding */
			body {
				width: 100%;
				min-height: 100%;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>

	<body>
		<div class="page-padding">
			<h1>Unidade de Entregas</h1>

			<table class="table-1" style="table-layout: fixed;">
				<tbody>
					<tr>
						<td class="header">Nome do Projeto</td>
						<td>
							<%= nomeDoProjeto %>
						</td>
						<td colspan="2" class="header">Descrição resumida do Projeto</td>
					</tr>

					<tr>
						<td class="header">Status do Plano de Projeto</td>
						<td>
							<%= statusDoProjeto %>
						</td>

						<td colspan="2">
							<%= descricaoDoProjeto %>
						</td>
					</tr>
					<tr>
						<td class="header">Órgão Responsável</td>
						<td>
							<%= orgaoResponsavel.join(', ') %></td>
						<td class="header">Responsável pelo Projeto</td>
						<td><%= responsavelPeloProjeto %></td>
					</tr>
					<tr>
						<td class="header">Data de Início (estimativa)</td>
						<td><%= dataInicio %></td>
						<td class="header">Data de Término (estimativa)</td>
						<td><%= dataTermino %></td>
					</tr>
					<tr>
						<td class="header">Custo Estimado</td>
						<td><%= custoEstimado %></td>
						<td class="header">Fonte(s) de Recurso Planejada(s)</td>
						<td>
							<% if(fonteDeRecursos.length > 0 ){ %>
								<ul>
									<% fonteDeRecursos.forEach(item => { %>
										<li><%= item %></li>
									<% }); %>
								</ul>
							<% } %>
						</td>
					</tr>
					<tr>
						<td class="header">Origem</td>
						<td><%= origem %></td>
						<td class="header">Meta vinculada</td>
						<td><%= codigoDaMeta %>
							-
							<%= textoDaMeta %></td>
					</tr>
				</tbody>
			</table>

			<br>
			<table class="table-2">
				<tbody>
					<tr style="vertical-align: top">
						<td style="width: 30%" class="zero-margin  light-green">
							<h2 class="dark-blue text-center half-padding">Escopo</h2>

							<ul>
								<% escopo.forEach(item => { %>
									<li><%= item %></li>
								<% }); %>
							</ul>

						</td>
						<td style="width: 5%">&nbsp;</td>
						<td style="width: 30%" class="zero-margin  light-green">
							<h2 class="dark-blue text-center half-padding">Principais Etapas</h2>

							<ul>
								<% etapas.forEach(item => { %>
									<li><%= item %></li>
								<% }); %>
							</ul>

						</td>
						<td style="width: 5%">&nbsp;</td>
						<td style="width: 30%" class="zero-margin  light-green">
							<h2 class="dark-blue text-center half-padding">Órgãos Envolvidos</h2>

							<ul>
								<% orgaosEnvolvidos.forEach(item => { %>
									<li><%= item %></li>
								<% }); %>
							</ul>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
